{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}


<div class="list-group" style="background:none;">
       {% for artist in object_list %}

        <a class="btn text-muted" style="opacity: 0.9;"
           href="{{ object.get_absolute_url }}/artist/{{artist.id}}">{{artist.name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
        {% endfor %}

</div>

<script>
$(".chosen-select").chosen({no_results_text: "גם כן אמן. פחחח"});
     $(".chosen-select").change(function(s){
     $( location ).attr("href",$("#ar").val())
     }
     );

</script>

{% endblock %}