{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<p class="text-center">
    <h1 class="text-center">מימה</h1><br>

<form class="form-inline text-center">
    <button type="submit" class="btn btn-default">לך חפש</button>
  <div class="form-group">
   <!-- <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label> -->
    <div class="input-group">
      <div class="input-group-addon">♫</div>
      <input type="text" class="form-control text-right" id="exampleInputAmount" placeholder="...ביצע/ה ניתוח לשינוי מין">
      <div class="input-group-addon">♪</div>
    </div>
  </div>

</form>


{{ object_list}}


</p>

{% endblock %}